name: VariableTest

on: [push]
env:
  user_name: rust42
  demo_name: To be a rusty developer, rusty with skills :)

jobs:
  VariableUsageJobs:
    runs-on: ubuntu-latest
    env: 
      job_var1: "job variable value"
    steps:
      - name: Using Workflow Variables
        env:
          step_var1: Steep variable value
        run: echo Hello, $user_name!
              Welcome to $demo_name!!!   
              here is job var1 $job_var1
              here is step var1 $step_var1
      - name: Display environments
        run: env
      - name: Set user_name Variable
        run: echo "::set-env name=user_name::rusty_white"
      - name: Set new_var variable
        run: echo "::set-env name=new_var::newvarvalue"
      - name: Using Variables
        run: echo Hello, $user_name!
              Welcome to $new_name!!
